@media(max-width: 992px) {
    .header {
        justify-content: space-around;
    }

    .promo__wrapper {
        align-items: center;
    }

}

/* @media(max-width: 768px) {
    .advantages__icons {
        width: 870px;
    }
} */