@media(max-width: 991.98px) {
    .header {
        justify-content: space-around;
    }

    .promo__wrapper {
        align-items: center;
    }

    .advantages__icons {
        width: 768px;
        flex-direction: column;
        align-items: center;
    }

    .consultation {
        .title {
            &_left {
                text-align: center;
                font-size: 29px;
            }
        }

        &__descr {
            text-align: center;
            font-size: 18px;
        }

        .feed-form {
            align-items: center;
            width: 100%;

            input {
                width: 300px;
            }
        }

        .button {
            &_submit {
                width: 300px;
            }
        }

    }

    .carousel {
        &__inner {
            width: 75%;

            img {
                width: 100%;
                /* margin: 0 auto; */
            }
        }
    }

    .catalog {
        &__content {
            justify-content: space-around;
        }
    }

    .reviews {
        &__comment {
            padding-left: 15px;
            padding-right: 15px;
        }

        &__text {
            font-size: 14px;
            line-height: 20px;
        }

        &__photo {
            width: 150px;
            height: 150px;
            margin-right: 45px;
        }
    }

}

@media(max-width: 767.98px) {
    .header {

        &__logo {
            img {
                width: 90%;
            }

        }


        &__official {
            font-size: 10px;

            span {
                font-size: 16px;
            }
        }

        &__phone {
            font-size: 15px;
        }


        .button {
            width: 147px;
            height: 24px;
            font-size: 11px;
            margin-top: 3px;
        }
    }

    .promo {
        &__header {
            font-size: 34px;
        }

        &__subheader {
            font-size: 19px;
        }
    }

    .advantages__icons {
        width: 576px;
    }

    .carousel {
        .slick-dots button {
            height: 15px;
            width: 15px;
        }

        .slick-dots li[class="slick-active"] button {
            height: 20px;
            width: 20px;
        }
    }

    .catalog {
        &__tab {
            width: 160px;
            font-size: 15px;
        }
    }

    .reviews {
        &__subtitle {
            font-size: 16px;

            span {
                font-size: 12px;
            }
        }

        &__text {
            font-size: 13px;
            line-height: 18px;
        }

        &__photo {
            width: 135px;
            height: 135px;
            margin-right: 25px;
        }
    }
}

@media(max-width: 575.98px) {
    .header {
        flex-direction: column;

        &__official {
            margin-top: 18px;
        }

        &__contacts {
            margin-top: 20px;
            align-items: center;
        }

        &__logo {
            display: flex;
            justify-content: center;

            img {
                width: 70%;
            }

        }
    }

    .promo {

        padding: 21px 10px 93px 10px;

        &__wrapper {
            margin-top: 65px;
        }

        &__header {
            font-size: 28px;
            text-align: center;
        }


        &__subheader {
            font-size: 15px;
            text-align: center;
        }

        &__icons {
            width: 310px;
            margin-right: 0;
        }

        &__icon {
            font-size: 10px;

            img {
                width: 30px;
            }
        }

        .button {
            margin-top: 12px;

            &_main {
                margin-top: 40px;
                width: 265px;
            }
        }

        &__link {
            font-size: 12px;
        }
    }


    .advantages {

        &__icons {
            width: 320px;
        }

        .title {
            font-size: 18px;
        }
    }

    .consultation {
        padding: 50px 0 50px 0;

        .title {
            &_left {
                font-size: 18px;
            }
        }

        &__descr {
            font-size: 15px;
        }
    }

    .catalog {
        .title {
            font-size: 18px;
        }

        &__tab {
            width: 82px;
            height: 28px;
            font-size: 8px;
            line-height: 27px;
        }
    }

    .reviews {
        .title {
            font-size: 18px;
        }

        &__comment {
            flex-direction: column;
        }

        &__subtitle {
            font-size: 15px;
            text-align: center;

            span {
                font-size: 11px;
            }
        }

        &__text {
            font-size: 12px;
            line-height: 17px;
            text-align: center;
        }

        &__photo {
            width: 130px;
            height: 130px;
            margin-right: 0px;
            margin-bottom: 15px;
        }
    }

    .footer {

        &__info {
            width: 320px;
            height: 185px;
            padding: 15px;
        }

        &__addr {
            font-size: 14px;
            margin-bottom: 18px;
        }

        &__phone {
            font-size: 16px;
            margin-bottom: 27px;
        }
    }

    .modal {
        width: 90%;
        padding: 20px 20px 30px;

        &__close {
            top: -25px;
            right: 0px;
            
            &:hover {
                opacity: 1;
                font-size: 40px;
                right: -37px;
            }
        }

        .feed-form {
            width: 100%;
        }

        .button_consultation {
            font-size: 14px;
        }
    }
}