@import 'src/sass/libs/bootstrap-reboot.min';
@import 'src/sass/libs/slick';
@import 'src/sass/libs/animate';

@import 'src/sass/base/animations';
@import 'src/sass/base/variables';


* {
    font-family: Comfortaa, sans-serif;
    /* font-display: swap; */
  /*   box-sizing: border-box;
    margin: 0;
    padding: 0; */
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'src/sass/blocks/promo';
@import 'src/sass/blocks/header';
@import 'src/sass/blocks/buttons';
@import 'src/sass/blocks/advantages';
@import 'src/sass/blocks/titles';
@import 'src/sass/blocks/consultation';
@import 'src/sass/blocks/forms';
@import 'src/sass/blocks/carousel';
@import 'src/sass/blocks/catalog';
@import 'src/sass/blocks/reviews';
@import 'src/sass/blocks/footer';
@import 'src/sass/blocks/modal';
@import 'src/sass/blocks/pageup';
@import 'src/sass/base/media';