@import 'src/sass/base/variables';
@import 'src/sass/blocks/promo';
@import 'src/sass/blocks/header';
@import 'src/sass/blocks/buttons';
@import 'src/sass/blocks/advantages';
@import 'src/sass/blocks/titles';
@import 'src/sass/blocks/consultation';
@import 'src/sass/blocks/forms';
@import 'src/sass/base/media';

* {
    font-family: Comfortaa, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}
